:root {
    --accent-color: #CDA274;
    --main-text-color: #292F36;
    --sub-text-color: #4D5053;
    --background-color: #F4F0EC;
    --white-color: #FFFF;
    --section-background-color: #E7E7E7;
}

body {
    font-family: Jost;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: var(--sub-text-color);
}

.dream-interior {
    background-image: url(../images/IMAGE-2-3.jpg);
}

.dream-interior-header {
    color: var(--main-text-color);
    font-family: "DM Serif Display";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.22px;
}

.challenging-designs-header {
    color: var(--main-text-color);
    font-family: "DM Serif Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.22px;
}

.challenging-designs-button {
    width: 263px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 2px solid var(--main-text-color);
    background: var(--main-text-color);
}

.challenging-designs-button::after {
    content: "";
    background-image: url(../images/button-image.png);
}

.call-us-image {
    width: 93px;
    height: 93px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--background-color);
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 15px;
}

.dream-interior-button {
    width: 207px;
    height: 71px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: var(--main-text-color);
    border-radius: 18px;
    border: 2px solid var(--main-text-color);
    background: var(--main-text-color);
}

.dream-interior-button::after {
    content: "";
    background-image: url(../images/button-image.png);


}

.container-dream-interior {
    padding-top: 195px;
    padding-bottom: 250px;
    padding-left: 120px;
    width: 600px;


}

.challenging-designs-image {
    width: 592px;
    height: 635px;
    flex-shrink: 0;
}

.interior-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interior-item{
    padding: 75px;
}

.interior-title{
    color: var(--main-text-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.22px;
    text-align: center;
}
.interior-paragraph{
    color: var(--sub-text-color);
    font-family: Jost;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
}
.interior-button{
    display: block;
    width: 194px;
    height: 27px;
    text-align: center;
    font-size: 18px;
    background-color: var(--white-color);
    padding: 20px 40px;
    margin: 30px auto;
}
.interior-button::after{
    content: "";
    width: 24px;
    height: 17px;
    background-image: url(./images/button.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6px;
}
.recent-project-title{
    color: var(--main-text-color);
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.22px;
    text-align: center;
}
.recent-project-paragraph{
    color: var(--sub-text-color);
    font-family: Jost;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
    padding: 20px 140px;
}
.recent-project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.recent-project-item{
    flex-basis: calc((100% - 20px) /2);
}
.recent-project-image{
    width: 590px;
    height: 660px;
    border-radius: 0 80px 0 0;
    margin-bottom: 30px;
}
.recent-project-button{
    width: 70px;
    height: 70px;
}
.recent-project-button::after{
    content: "" ;
    background-image: url(./images/button-blogs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}